/* NAVBAR  */

.navbar a {
    float: right;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    font-family: "Roboto", sans-serif;
	text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: #FFBC67;
    text-decoration: none;
}

.navbar a.active {
    background-color: #44484B;
    color: white;
    text-decoration: none;
}





/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
	}
    
    /* Set white background color and 100% height */
.sidenav {
      padding-top: 20px;
      background-color:white;
      height: 100%;
}
    

    
   /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
        height: auto;
        padding: 15px;
}
.row.content {height:auto;} 
}

 

/*    Lisauus ja Registeeri */

.main-content{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	background-color:white;
	position:absolute;
	left: 20%
}

.main-content2{
    left:20%;
}
.custom-file{
	left:38%;	
}

.custom-file-label{
	width:500px;
}

.bounds{
	padding-left: 20%; 
}


.column{
	padding-left: 10px; 
    padding-right: 200px; 
}
.column2{
	padding-left: 10px; 
    padding-right: 200px;
}



/*
 * Blog name and description
 */
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}


@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.button-horizontal2{
	padding-left: 26%; 
    padding-right: 29%;
}

.button-horizontal{
	padding-left: 10px; 
    padding-right: 200px;
}

.ruly{
	padding-left: 20px; 
}

.form-control{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/*  Footer  */

.panel-footer{
	text-align: center;
}


/* Pealehe kategooriad   */

.card-img-top{
	width: 400px;
	height:400px;
}

.carousel-item{
	width: 400px;
	height:500px;
}

.row{
	padding-left: 100px;
	padding-right: 100px;   
}


.card-title {
	text-align:center;

}


.card-title a:hover{
	text-decoration: none;
	text-align:center;
}



/*  Picture and text */


.image {
  opacity: 1;
  width: 100%;
  height: 500px;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.text {
  color: black;
  font-size: 50px;
}

.picture{
	width:100%;
	position: relative;

}

.picture:hover .middle{
	 opacity: 1;
}


.picture:hover .image{
	 opacity: 0.3;
}


/*  Category */

.category{
	text-align:center;
	font-family: "Roboto", sans-serif;
}


.container-fluid {
      padding: 60px 50px;
  }
 
 
 /* Kuulutuste lisamine   */

.box-shadow { 
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .06); 
	}

.card-img-top1 {
	height:300px;
	width:400px;
}

.mb-0{
	text-align:center;
}

.mb-1{
	font-size:17px;
	text-align:center;
}

.look{
	text-decoration: none;
}






/*katsetus*/

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #0080c0;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    padding-left: 30%;
    padding-right: 30%;
 
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}




/**/
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
}

